.wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: #424242;
  padding: 0px;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}

.checkbox {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.main-wrapper {
  display: flex;
  justify-content: flex-start;
}

.thumbnail {
  object-fit: cover;
  // min-width: 10%;
  // width: 10%;
  // height: 100%;
  // min-height: 100%;
  margin-right: 5px;
  border-radius: 10px 0px 0px 10px;
  // height: 85px;
  max-height: 89px;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.chip-video {
  background-color: hsl(226, 51%, 47%);
}

.chip-image {
  background-color: hsl(335, 51%, 47%);
}
