<div class="header-container mat-elevation-z3">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <app-header ></app-header >
</div>
<mat-sidenav-container class="content-container">
  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="isOpened" class="sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
