.content-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1E1E1E;
}

.content-container-mobile {
  top: 60px;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

// Disabling the side border that comes with the side drawer
.mat-drawer-side {
  border-right: 0;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #424242;
  z-index: 2;
  color: white;
}
