// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@media only screen and (min-width: 992px) {
    .sideMenu {
      max-width: 100px !important
    }
  }

  .my-custom-modal-css .modal-wrapper {
    height: 40%;
    position: absolute; 
    display: block;  
    overflow: visible;
 }

 .content-margins {
  margin-left: 20%; 
  margin-right: 20%; 
  margin-bottom: 20px;
}