// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@media only screen and (min-width: 992px) {
    .sideMenu {
      max-width: 100px !important
    }
  }

 .content-margins {
  margin-left: 20%; 
  margin-right: 20%; 
  margin-bottom: 20px;
}

// This was to make sure that the color picker was not cut off from the modal window.
.modal-wrapper {
  overflow: visible !important;
}
.ion-page {
  overflow: visible !important;
}

//////////////////////////////////////////////////////

.videoplayer {
  --width: 85%;
  --height: 85%;
}

// Overrides alert css classes to include some custom changes.
.alert-wrapper {
  color: black !important;
}
.alert {
  --background: #1E1E1E;
}


////// This is for the pop over to modify tags. //////

.tags-popover {
  --width: 300px;
  --height: 440px;
}

//////////////// Custom Paginator ////////////////////

.mat-paginator {
  background: transparent;
  color: white;
}

/////////////// Custom Scrollbar stuff ///////////////

.fixed[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.fixed[scrollx=true] {
  overflow-x: auto;
}

.fixed[scrolly=true] {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

//////////////////////////////////////////////////////