.content-margins {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.create-new-scan-button {
  height: 35px;
  width: 100px;
  margin: 5px;
}

table {
  width: 100%;
}

.mat-column-lastscan {
  width: 200px;
}

.mat-column-action {
  width: 100px;
}
