<div mat-dialog-content>
  <p class="flex-center">Browse to the path that should be scanned</p>
  <mat-form-field>
    <div class="input-container">
      <button *ngIf="currentPath" mat-icon-button (click)="backClick()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <input matInput [(ngModel)]="path" placeholder="Path to scan" (keyup.enter)="navigateTo()">
      <button mat-icon-button (click)="navigateTo()">
        <i class="far fa-arrow-alt-circle-right"></i>
      </button>
      <button mat-icon-button (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </mat-form-field>
  <div class="directory-container">
    <div class="" *ngFor="let directory of directories; let even = even; let odd = odd">
      <button mat-button (click)="directoryClick(directory)" class="directory-button" [ngClass]="{'even-button': even, 'odd-button': odd}">
        <i class="fas fa-folder"></i>
        &nbsp;{{directory}}
      </button>
    </div>
  </div>
  <hr>
</div>
<div mat-dialog-actions class="button-wrapper">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Save</button>
</div>
