.content-margins {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.auto-complete-tag-name {
  margin-top: auto;
  margin-bottom: auto;
  height: 1rem;
  display: flex;
  align-items: center;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 512px !important;
}

.search-button-container {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  height: 35px;
  width: 100px;
  margin: 5px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

.sort-column-container {
  width: 49%;
}

.sort-direction-container {
  width: 49%;
}
