.content-margins {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.paginator {
  background-color: #1E1E1E;
}

.auto-complete-tag-name {
  margin-top: auto;
  margin-bottom: auto;
  height: 1rem;
  display: flex;
  align-items: center;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 512px !important;
 }

.search-button-container {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  height: 35px;
  width: 100px;
  margin: 5px;
}
