<div class="content-margins">
  <div class="filter-wrapper" style="margin-top:20px;">
    <mat-form-field>
      <input matInput [(ngModel)]="searchBox" placeholder="Filter by Name" (keyup.enter)="search()">
    </mat-form-field>
    <!-- <div class="search-button-container">
      <button mat-raised-button class="search-button" (click)="search()"
        [matTooltip]="'Search for Media using Name and Tags'" matTooltipClass="organizer-tooltip">
        <i class="fas fa-search"></i><span style="margin-left: 10px;">Search</span>
      </button>
    </div> -->
  </div>
  <div>
    <div>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of selectedTags" [selectable]="selectable"
            [style.background-color]="tag.backgroundColor" [style.color]="tag.textColor"
            (removed)="removeTagFromSearch(tag)">
            {{tag.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="Filter by Tag" #chipInput [formControl]="tagControl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTagToSearch($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" style="height: 2rem;">
            <div style="display: flex; justify-content: flex-start; height: 2rem;">
              <div [style.backgroundColor]="tag.backgroundColor"
                style="height: 1rem; width: 1rem; border-radius: 3px; margin-top: auto; margin-bottom: auto; margin-right: 15px;">
              </div>
              <div class="auto-complete-tag-name">
                {{tag.name}}
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>


    <div [@slideInOut]="advanceSearchState">
      <!-- Sorting Container -->
      <div class="sorting-container">
        <div class="sort-column-container">
          <mat-form-field>
            <mat-label>Order By:</mat-label>
            <mat-select [(value)]="sortColumn" (selectionChange)="search()">
              <mat-option *ngFor="let option of mediaSortOptions" [value]="option.value">
                {{option.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="sort-direction-container">
          <mat-form-field>
            <mat-label>Direction:</mat-label>
            <mat-select [(value)]="sortDirection" (selectionChange)="search()">
              <mat-option [value]="'asc'">
                Ascending
              </mat-option>
              <mat-option [value]="'desc'">
                Descending
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-slide-toggle style="margin-top: 10px; margin-bottom: 10px" [(ngModel)]="onlyShowFavorite"
        (change)="search()">Only Show Favorites</mat-slide-toggle>
      <mat-slide-toggle style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px" [(ngModel)]="isListView">List
        View</mat-slide-toggle>
    </div>
  </div>
  <div class="show-more-container" (click)="showMoreFilters()">
    <div *ngIf="advanceSearchState === 'closed'">
      <span class="fa fa-chevron-down"></span> More Filters
    </div>
    <div *ngIf="advanceSearchState === 'opened'">
      <span class="fa fa-chevron-up"></span> Less Filters
    </div>
  </div>


  <app-media-list
  [pageResponse]="pageResponse"
  [selectedMediaIndex]="selectedMediaTypeControl.value"
  [isListView]="isListView"
  (pageChange)="onPageChange($event)"
  (tagClicked)="tagClicked($event)"
  (selectedMediaChange)="mediaTypeFilterChanged($event)"
  ></app-media-list>
</div>
