<ion-item>
  <!-- Thumbnail would be nice -->
  <video slot="start" *ngIf="file.mimetype.includes('video')" class="video-style" preload="metadata"
    (click)="showFullscreen(file)" oncontextmenu="return false;" #videoPlayer
    style="object-fit: cover; min-width: 10%; width: 10%; height: 100%; min-height: 100%; margin-right: 5px;">
    <source [src]="getVideoUrl(file)" type="video/mp4" />
    Browser not supported
  </video>

  <ion-img slot="start" *ngIf="file.mimetype.includes('image')" [src]="getVideoUrl(file)"
    style="object-fit: cover; min-width: 10%; width: 10%; height: 100%; min-height: 100%; margin-right: 5px">
  </ion-img>

  <!-- File name -->
  <div style="padding: 10px">
    <ion-text style="font-size: .9rem; display:flex; text-align: justify;">
      {{file.name}}
    </ion-text>

    <br>

    <!-- Tags -->
    <ion-chip color="success" *ngFor="let tag of file.tags" [style.background-color]="tag.backgroundColor"
      [style.color]="tag.textColor">
      {{ tag.name | truncation }}
    </ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
    <ion-chip color="success">Cool Tag</ion-chip>
  </div>

  <ion-item slot='end' style="margin-right: 5px;">
    <ion-button (click)="presentPopover($event, file)">
      <ion-icon name="pricetags" color="light" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="hideMedia(file)">
      <ion-icon name="trash" color="light" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-item>