<span class="body-header">
  <!-- Media Type Filter -->
  <mat-checkbox *ngIf="editingMultiple" class="checkbox-all" [(ngModel)]="areAllChecked"
      [(indeterminate)]="isIndeterminate" (change)="allCheckClicked()"></mat-checkbox>
  <div class="checkbox-tabgroup-container">

    <mat-tab-group *ngIf="selectedMediaIndex !== undefined" [(selectedIndex)]="selectedMediaIndex"
      (selectedIndexChange)="selectedMediaChange.next($event)" animationDuration="0ms">
      <mat-tab label="All">
      </mat-tab>
      <mat-tab label="Videos">
      </mat-tab>
      <mat-tab label="Images">
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- Paginator -->
  <div class="paginator-content">
    <div class="tag-button-container">
      <button mat-flat-button *ngIf="!editingMultiple" (click)="editMultiple()" class="editMultipleButton">
        Edit Multiple
      </button>
      <button *ngIf="editingMultiple" mat-flat-button (click)="chooseSelectedMediasTags()" class="editMultipleButton"
        style="margin-right: 10px;">
        Choose Tags
      </button>
      <button *ngIf="editingMultiple" mat-flat-button (click)="cancelEditMultiple()" class="editMultipleButton">
        Cancel Editing
      </button>
    </div>
    <mat-paginator class="paginator" [pageIndex]="pageResponse.number" [length]="pageResponse.totalElements"
      [pageSize]="pageResponse.size" [pageSizeOptions]="pageSizeOptions" (page)="pageChange.next($event)">
    </mat-paginator>
  </div>
</span>


<!-- List View -->
<div *ngIf="isListView">
  <app-media-list-item *ngFor="let file of pageResponse.content; let index = index" [file]="file" [knownTags]="knownTags"
    [imgSource]="getThumbnailSrc(file)" (tagsEdited)="updateMediaFilesTags($event)" (openMedia)="openMedia(file)"
    (tagClicked)="tagClicked.next($event)" (favoriteToggled)="favoriteToggle(file)" [modifyMultiple]="editingMultiple"
    (checkboxClicked)="checkboxClicked()" (openInDeoVRClicked)="openInDeoVR($event)" [isOdd]="0 === index % 2">
  </app-media-list-item>
</div>

<!-- Grid View -->
<div *ngIf="!isListView">
  <app-media-list-grid-item *ngFor="let file of pageResponse.content; let index = index" [file]="file" [knownTags]="knownTags"
    [imgSource]="getThumbnailSrc(file)" (tagsEdited)="updateMediaFilesTags($event)" (openMedia)="openMedia(file)"
    (tagClicked)="tagClicked.next($event)" (favoriteToggled)="favoriteToggle(file)" [modifyMultiple]="editingMultiple"
    (checkboxClicked)="checkboxClicked()" (openInDeoVRClicked)="openInDeoVR($event)" [isOdd]="0 === index % 2">
  </app-media-list-grid-item>
</div>

<!-- Paginator -->
<mat-paginator class="paginator" [pageIndex]="pageResponse.number" [length]="pageResponse.totalElements"
  [pageSize]="pageResponse.size" [pageSizeOptions]="pageSizeOptions" (page)="pageChange.next($event)">
</mat-paginator>
