.body-header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.paginator {
  background-color: #1E1E1E;
}

.editMultipleButton {
  max-height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}

.checkbox-tabgroup-container {
  display: flex;
  align-items: center;
}

.checkbox-all {
  margin-right: 20px;
}
