<div class="sidenav-container">
  <div [routerLink]="['']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
      <i class="fa fa-bar-chart"></i>
      Dashboard
  </div>
  <div [routerLink]="['user/manage']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
      <i class="fa fa-users"></i>
      <span>Tags</span>
  </div>
  <div [routerLink]="['user/manage']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fa fa-users"></i>
    <span>Scan Locations</span>
</div>
  <div [routerLink]="['platforms']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
      <i class="fa fa-fighter-jet"></i>
      <span>Media</span>
  </div>
</div>
