<div class="sidenav-container">
  <div [routerLink]="['/dashboard']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fas fa-home"></i>
    Dashboard
  </div>
  <div [routerLink]="['/tags']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fas fa-tags"></i>
    <span>Tags</span>
  </div>
  <div [routerLink]="['/scanlocations']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fas fa-search-location"></i>
    <span>Scan Locations</span>
  </div>
  <div [routerLink]="['/folder']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fas fa-photo-video"></i>
    <span>Folders</span>
  </div>
  <div [routerLink]="['/media']" [routerLinkActive]="'menu-item-selected'" class="menu-item">
    <i class="fas fa-photo-video"></i>
    <span>All Media</span>
  </div>
</div>
