.content-margins {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.rounded {
  border-radius: 5px !important;
}

.modal-wrapper {
  overflow: visible !important;
}

.ion-page {
  overflow: visible !important;
}

.example-full-width {
  width: 100%;
}

.list-item {
  margin-top: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td, th {
//   width: 25%;
// }

.mat-column-Tag {
  width: 75px;
}

.mat-chip-list-wrapper {
  margin: 0 !important;
}

.chip-wrapper {
  display: flex;
  justify-content: left;
  margin-right: 15px;
}

.edit-tag-button {
  margin-right: 10px
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.create-new-tag-button {
  height: 35px;
  margin: 5px;
}

// .mat-column-Description {
//   width: 100%;
// }
