.content-margins {
  margin: auto;
  margin-bottom: 10px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.folder-wrapper > .folder-container:last-child {
  margin-right: 0px;
}

.folder-wrapper > .folder-container:first-child {
  margin-left: 0px;
}

.folder-container {
  //margin-right: 10px;
  margin-bottom: 3px;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.folder-button {
  //width: 275px;
  width: 100%;
  background-color: #424242;
}

.folder-button2 {
  text-transform: none;
  display: flex;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  padding: 7px;
  border-radius: 5px;
  background-color: #424242;
  cursor: pointer;
}

.folder-button2:hover {
  background-color: #575757;
}

.folder-wrapper {
  margin-top: 10px;
  // display: flex;
  // justify-content: flex-start;
  // flex-flow: wrap;
}

.breadcrumb-container {
  display: flex;
  justify-content: flex-start;
}

.breadcrumb {
  margin-right: 10px;
  margin-left: 10px;
}
