.content-margins {
    margin-left: 20%; 
    margin-right: 20%; 
    margin-bottom: 20px;
}

.rounded {
    border-radius: 5px !important;
}

.modal-wrapper {
    overflow: visible !important;
}
.ion-page {
    overflow: visible !important;
}