<ion-header>
  <ion-toolbar>
    <ion-title>Tags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">

  <div style="margin-top:50px;" class='content-margins'>
    <ion-text>
      List of known tags for media
    </ion-text>
  </div>
  <ion-grid class="content-margins ion-no-padding">
    <ion-row class="ion-no-padding" style="margin-bottom: 10px">
      <ion-col size="10">
        <ion-item color='primary' class='rounded' style="height:100%">
          <ion-icon slot="start" name='search'></ion-icon>
          <ion-input clearInput [value]='searchBox'>

          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="">
        <ion-button (click)="createTag()" style="height:100%; width: 100%;" class="ion-no-margin">
          New
          <ion-icon slot="start" name="add" color='light'></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Tag List -->
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <ion-list color="dark" class='rounded' style="width: 100%">
          <ion-item *ngFor="let tag of tags">
            <div style="width: 200px">
              <ion-chip slot='start' color="dark" [style.background-color]="tag.backgroundColor"
                [style.color]="tag.textColor">
                {{tag.name}}
              </ion-chip>
            </div>

            <div style="align-content: center">
              <ion-text *ngIf="tag.description" style="font-size: .95rem">
                {{tag.description}}
              </ion-text>
              <br>
              <ion-text style="font-size: .75rem ">
                Videos with this tag
              </ion-text>
            </div>

            <ion-item slot='end'>
              <ion-button (click)="editTag(tag)">
                <ion-icon slot="icon-only" name="create" color='light'></ion-icon>
              </ion-button>
              <ion-button (click)="deleteClick(tag)">
                <ion-icon slot="icon-only" name="trash" color='light'></ion-icon>
              </ion-button>
            </ion-item>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>