.modal-wrapper {
    overflow: visible !important;
}
.ion-page {
    overflow: visible !important;
}

.labels {
    opacity: 0.5;
}

.title {
    font-size: 1.5rem; 
    display: flex; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    justify-content: center;
}