<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Save</button>
</div> -->

<div>
  <div class="header">
    <span>
      <mat-chip-list>
        {{title}}
        <mat-chip [style.color]="tag.textColor" [style.background-color]="tag.backgroundColor">
          {{tag.name || 'example'}}
        </mat-chip>
      </mat-chip-list>
    </span>
  </div>

  <form class="form" #create="ngForm" (ngSubmit)="save()">
    <div class="form">

      <mat-form-field class="form">
        <input matInput placeholder="Name" [(ngModel)]="tag.name" name="name" required>
      </mat-form-field>

      <mat-form-field class="form">
        <input matInput placeholder="Description" [(ngModel)]="tag.description" name="description">
      </mat-form-field>

      <mat-form-field class="form">
        <div class="color-input-wrapper">
          <input matInput placeholder="Text Color" name="textColor" type="text" [(ngModel)]="tag.textColor" required
            [cpPosition]="'top'" [cpPositionOffset]="'0%'" [cpPositionRelativeToArrow]="false"
            [(colorPicker)]="tag.textColor" [value]="tag.textColor">
          <button mat-raised-button (click)="refreshTextColor($event)">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>

      </mat-form-field>

      <mat-form-field class="form">
        <div class="color-input-wrapper">
          <input matInput placeholder="Background Color" name="backgroundColor" type="text"
            [(ngModel)]="tag.backgroundColor" required [cpPosition]="'top'" [cpPositionOffset]="'0%'"
            [cpPositionRelativeToArrow]="false" [(colorPicker)]="tag.backgroundColor" [value]="tag.backgroundColor"
            [cpWidth]="'230'" [cpAlphaChannel]="'disabled'">
          <button mat-raised-button (click)="refreshBackgroundColor($event)">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>


      </mat-form-field>

      <div class="button-wrapper">
        <button mat-raised-button type="submit" [disabled]="!create.valid">
          {{buttonText}}
        </button>
        <button mat-raised-button (click)="onNoClick()">
          Cancel
        </button>
      </div>

    </div>
  </form>
</div>
