.header {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

.color-input-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
