// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #333333;
  --ion-color-primary-rgb: 51,51,51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2d2d2d;
  --ion-color-primary-tint: #474747;

  --ion-color-secondary: #495867;
  --ion-color-secondary-rgb: 73,88,103;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #404d5b;
  --ion-color-secondary-tint: #5b6976;

  --ion-color-tertiary: #BDD5EA;
  --ion-color-tertiary-rgb: 189,213,234;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a6bbce;
  --ion-color-tertiary-tint: #c4d9ec;

  --ion-color-quaternary: #252526;
  --ion-color-quaternary-rgb: 4,21,31;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quaternary-contrast-rgb: 255,255,255;
  --ion-color-quaternary-shade: #04121b;
  --ion-color-quaternary-tint: #1d2c35;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1E1E1E;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #252526;
  --ion-text-color: #ffffff;

  --ion-border-color: #202124;

  --ion-tab-bar-background: #202124;
  --ion-tab-bar-color-activated: #ffffff;
}

.ion-color-quaternary {
  --ion-color-base: var(--ion-color-quaternary, #f00) !important;
  --ion-color-base-rgb: var(--ion-color-quaternary-rgb, 56, 128, 255) !important;
  --ion-color-contrast: var(--ion-color-quaternary-contrast, #06f) !important;
  --ion-color-contrast-rgb: var(--ion-color-quaternary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-quaternary-shade, #0001e0) !important;
  --ion-color-tint: var(--ion-color-quaternary-tint, #ff80f0) !important
}